{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Grocery Products</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/contact/">Contact</a>
        <a href="/products/">View Products</a>
    </nav>

    <h1>Fresh Vegetables & Groceries</h1>

    <div class="products-container">
        {% for product in product %}
            <div class="product-card">
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
                <p>Price: ${{ product.price }}</p>
                <p>description:{{product.description}}</p>
                <p>stock:{{product.stock}}</p>
                <p>available:{{product.available}}</p>
            </div>
        {% endfor %}
    </div>

    <footer>
        <p>© 2025 Fresh Grocery Store | Eat Healthy, Stay Healthy</p>
    </footer>
</body>
</html>
